a:link {

}

a:hover {

}

a:visited {

}

a:active{

}

.box
  {
    display: none;
    width: 100%;
  }

a:hover + .box,.box:hover
  {
    display: block;
    height: 50px;
    position: relative;
    width: 20%
    z-index: 50;
  }
